body {
    background-color:darkred;
}
#app2 {
    height:80vh;
    Color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:4rem;
    
    
}
ul li {
    list-style:none;
    text-decoration:none;
}

button {
        Color:#ffffff;
        background-color:darkred;
        border:none;
        font-size:4rem;
    }
.white {
    color:#ffffff;
}
.blue {
    color:darkblue;
    margin-top:3rem;
}