body {
    background-color:darkred;
}
#app {
    height:80vh;
    Color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:4rem;
    
    
}
ul li {
    list-style:none;
    text-decoration:none;
}

button {
        Color:#ffffff;
        background-color:darkred;
        border:none;
        font-size:4rem;
        
    }
    input {
        font-size:4rem;
    }
.line {
  text-decoration: line-through;
}
